<div class="container">
  <h2 class="projects-title">My Projects</h2>
  <div class="projects-container">
    <div class="project-card">
      <img src="assets/Tacos.png" alt="Project 1">
      <h3>Project Title 1</h3>
      <p>This is a virtual taco stand.</p>
      <button class="btn-primary" disabled>View Project</button>
    </div>

    <div class="project-card">
      <img src="assets/project2.jpg" alt="Project 2">
      <h3>Project Title 2</h3>
      <p>This is an RPG-Character builder.</p>
      <button class="btn-primary" disabled>View Project</button>
    </div>
  </div>

  <p class="projects-note">The "View Project" buttons are currently unavailable as the projects are under development. Please check back soon!</p>
</div>
