<div class="text-center">
  <img src="assets/headshot.jpg" alt="Headshot" style="width: 150px; height: 150px;">
  <h2>About Me</h2>
  <p>
    Hi, my name is Joseph Sarno. I am 34 years old and currently living in Florida. I am a proud father to a wonderful son and am eagerly awaiting the arrival of my daughter. While I have limited experience in web development, I am passionate about learning and growing in this field. I'm excited to dive deeper into web development and look forward to the challenges and opportunities that will help me build my skills and contribute to the world of technology.
  </p>
</div>
