<div class="create-guild-form">
  <h2>Create a New Guild</h2>
  <form [formGroup]="guildForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="guildName">Guild Name:</label>
      <input id="guildName" formControlName="guildName" />
      <div *ngIf="submitted && guildForm.controls['guildName'].invalid">
        Guild Name is required.
      </div>
    </div>

    <div>
      <label for="description">Description:</label>
      <input id="description" formControlName="description" />
      <div *ngIf="submitted && guildForm.controls['description'].invalid">
        Description is required.
      </div>
    </div>

    <div>
      <label for="type">Type:</label>
      <input id="type" formControlName="type" />
      <div *ngIf="submitted && guildForm.controls['type'].invalid">
        Type is required.
      </div>
    </div>

    <div>
      <label for="notificationPreference">Notification Preference:</label>
      <select id="notificationPreference" formControlName="notificationPreference">
        <option value="">Select an option</option>
        <option value="email">Email</option>
        <option value="sms">SMS</option>
      </select>
      <div *ngIf="submitted && guildForm.controls['notificationPreference'].invalid">
        Notification Preference is required.
      </div>
    </div>

    <div>
      <label for="acceptTerms">
        <input type="checkbox" id="acceptTerms" formControlName="acceptTerms" />
        Accept Terms & Conditions
      </label>
      <div *ngIf="submitted && guildForm.controls['acceptTerms'].invalid">
        You must accept the terms.
      </div>
    </div>

    <button type="submit" [disabled]="guildForm.invalid">Create Guild</button>
  </form>

  <div *ngIf="guilds.length > 0">
    <h3>Created Guilds:</h3>
    <ul>
      <li *ngFor="let guild of guilds">
        {{ guild.guildName }} - {{ guild.description }} ({{ guild.type }})
      </li>
    </ul>
  </div>
</div>
