<div *ngIf="errorMessage" class="error-message">
  <p>{{ errorMessage }}</p>
</div>

<div *ngIf="!errorMessage && characterFactions.length === 0" class="no-data">
  <p>No character factions found.</p>
</div>

<div *ngIf="!errorMessage && characterFactions.length > 0" class="factions-list">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let faction of characterFactions">
        <td>{{ faction.name }}</td>
        <td>{{ faction.description }}</td>
      </tr>
    </tbody>
  </table>
</div>
